<a href="https://colab.research.google.com/github/laxmipunnam/2216132_AIML_BootCamp/blob/main/Assignment_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#If Statment
var=120
if var>0:
  print("true")
  print(var)

print("\n")
var1=0
if var1>0:
  print("true")
  print(var1)

true
120

In [2]:
#If else
var2=-1
if var2>0: 
  print("true")
  print(var)
else:
  print("false")

false

In [3]:
#Nested If
print("NESTED IF")
print("BUS TICKET")
age=int(input("enter age: "))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket")
  elif age==15:
    print("Quarter ticket+discount")
  else:
    print("Half ticket")
elif age>=19 and age<=60:
  print("Full Ticket")
elif age>60:
  print("Full Ticket + discount")
else:
  print("no ticket")

NESTED IF
BUS TICKET
enter age: 45
Full Ticket

In [5]:
#LOOPS
print("LOOPS")
print("FOR LOOP")
n=[6,5,9,21,29,34,25,32]
sum=0
for val in n:
  sum=sum+val
print("the sum is:",sum)

print("\n")
for i in range(1,11):
  print(i)

print("\n")
for i in range(1,11,2):
  print(i)

print("\n")
x=[2,3,4,5,6,7,8,9]
y=[]
for a in x:
  if a%2==0:
    y.append(a)
print(y)

print("\n")
#USING IF STATEMENTS
print("USING IF STATEMENTS")
d=[0,1,5,7]
for i in d:
  print(i)
else:
  print("no items")
print("\n")

for l in "python":
  print("current letter is: ",l)

print("\n")
#ITERATION BY SEQ INDEXING
print("ITERATION BY SEQ INDEXING")
fruit=['apple','banana','orange']
for index in range(len(fruit)):
  print('current fruit is: ',fruit[index])

LOOPS
FOR LOOP
the sum is: 161


1
2
3
4
5
6
7
8
9
10


1
3
5
7
9


[2, 4, 6, 8]


USING IF STATEMENTS
0
1
5
7
no items


current letter is:  p
current letter is:  y
current letter is:  t
current letter is:  h
current letter is:  o
current letter is:  n


ITERATION BY SEQ INDEXING
current fruit is:  apple
current fruit is:  banana
current fruit is:  orange

In [6]:
#WHILE LOOP
print("WHILE LOOP")
count=0
while (count<11):
  print(count)
  count=count+1

count=0
while (count<5):
  print(count)
  count=count+1
else:
  print("not less")

WHILE LOOP
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
not less

In [7]:
#NESTED LOOPS
print("NESTED LOOPS")
print("MATRIX ADD")
x=[[1,2,3],
   [4,5,6],
   [7,8,9]]

y=[[2,4,6],[2,5,8],[3,6,9]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
    print(r)

print("\n")
print("MATRIX MUL")
x=[[1,2,3],
   [4,5,6],
   [7,8,9]]

y=[[2,4,6],[2,5,8],[3,6,9]]

res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]*y[i][j]
  for r in res:
    print(r)

NESTED LOOPS
MATRIX ADD
[3, 6, 9]
[6, 10, 14]
[10, 14, 18]


MATRIX MUL
[2, 8, 18]
[0, 0, 0]
[0, 0, 0]
[2, 8, 18]
[8, 25, 48]
[0, 0, 0]
[2, 8, 18]
[8, 25, 48]
[21, 48, 81]

In [8]:
num=int(input("ENTER LAST VALUE TO GET TABLESS: "))
i=1
while(i<=num):
  print(f"Table {i}")#rawstring
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("------------------------------------------------")
  i=i+1

ENTER LAST VALUE TO GET TABLESS: 5
Table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
------------------------------------------------
Table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
------------------------------------------------
Table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
------------------------------------------------
Table 4
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
------------------------------------------------
Table 5
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
------------------------------------------------

In [28]:
#LOOP CONTROL STATEMENTS

#break
print("LOOP CONTROL STATEMENTS")
print("BREAK")
for l in 'python':
  if l =='h':
    break
  print(l)

int1=10
while(int1>0):
  print(int1)
  int1=int1-1
  if int1==5:
    break

#continue

print("\n")
print("CONTINUE") 
for l in 'python':
 if l =='h':
   continue
 print(l)

int1=10
while(int1>0):
  print(int1)
  int1=int1-1
  if int1==5:
    continue

#PASS

print("\n")
print("PASS")
for l in 'python':
 if l =='h':
   pass
 print(l)

int1=10
while(int1>0):
  print(int1)
  int1=int1-1
  if int1==5:
    pass

LOOP CONTROL STATEMENTS
BREAK
p
y
t
10
9
8
7
6


CONTINUE
p
y
t
o
n
10
9
8
7
6
5
4
3
2
1


PASS
p
y
t
h
o
n
10
9
8
7
6
5
4
3
2
1

In [12]:
str1=input("enter a string: ")
str2=str1[::-1]
if(str1==str2):
  print("Palindrome")
else:
  print("not")

enter a string: dad
Palindrome

In [13]:
for i in range(1,101):
  str2=str(i)
  if (str2==str2[::-1]):
    print("yes the palindrome number is: ",i)

yes the palindrome number is:  1
yes the palindrome number is:  2
yes the palindrome number is:  3
yes the palindrome number is:  4
yes the palindrome number is:  5
yes the palindrome number is:  6
yes the palindrome number is:  7
yes the palindrome number is:  8
yes the palindrome number is:  9
yes the palindrome number is:  11
yes the palindrome number is:  22
yes the palindrome number is:  33
yes the palindrome number is:  44
yes the palindrome number is:  55
yes the palindrome number is:  66
yes the palindrome number is:  77
yes the palindrome number is:  88
yes the palindrome number is:  99

In [14]:
#EVEN ODD LISTS
a=[1,2,3,4,5,6,7,8,9]
b=[]
c=[]
for i in a:
  if(i%2==0):
    b.append(i) 
  else:
    c.append(i)
print(c)
print(b)

[1, 3, 5, 7, 9]
[2, 4, 6, 8]

Write a python program that generates desired output i.e, from countries list select out the country names that contain string “and” 

                  Output: [“Finland”,”Ireland”]

In [15]:

Countries_list=['Finland','Germany','Sweden','Ireland','Turkey']
l=[]
for i in Countries_list:
  if("and" in i):
    l.append(i)
print(l)

['Finland', 'Ireland']

Write a python program that print respective grades of student:

Grade – Outstanding for marks>=90

Grade A+ for marks >=80, <90

Grade A for marks >=70, <80

Grade B for marks >=60 and <70

<60 Grade C

In [17]:
m=int(input("enter marks: "))
if m>=90:
  print("OUTSTANDING")
elif m>=80 and m<90:
  print("A+")
elif m>=70 and m<80:
  print("A")
elif m>=60 and m<70:
  print("B")
else:
  print("C")

enter marks: 74
A

Create a list with name state list with 5 elements 

     State_list = [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

Write a python program that extract first and last characters of each item and print in desired format.

        Input: [“Delhi”,”Telangana”,”Goa”,”AP”,”Kerala”]

        Output: dItAgAaOkA

In [18]:
s=["laxmi","hamsa","bhavana","shivani","sragvi"]
l=[]
for i in s:
  l.append(i[0])
  l.append(i[len(i)-1])
print(l)
dtr="".join(l)
#print(dtr)
str1=dtr.swapcase()
print(str1)

['l', 'i', 'h', 'a', 'b', 'a', 's', 'i', 's', 'i']
LIHABASISI

In [19]:
s=["Delhi","Telangana","Goa","AP","Kerala"]
str=""
for i in s:
  str+=i[0].lower()+i[-1].upper()
print(str)

dItAgAaPkA

In [24]:
#USER DEFINED FUTN
print("USER DEFINED FUTN")
def greet(name):
  '''this futn greets a person'''
  print("Hello," +name+" Good morning")
greet("sai")

USER DEFINED FUTN
Hello,sai Good morning

In [25]:
#default
def A(a,b=1,c=2):
  return a+b+c
print(A(0))
print(A(3))
print(A(4,4,4))

3
6
12

In [26]:
#KEYWORDS
print("KEYWORDS")
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(c=3,a=1))

KEYWORDS
7
5

In [27]:
#POSITIONAL
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30))

60
60

In [30]:
#arbitrary keyword

def key_arg(**kwargs):
  return kwargs
my_dict=key_arg(Apples=10,Oranges=20,Grapes=30)
print(my_dict['Apples'])
print(my_dict)

10
{'Apples': 10, 'Oranges': 20, 'Grapes': 30}

In [37]:
#higher order functions

def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("Hi, i am higher order function")
  print(greet)
explain(shout)
explain(whisper)

HI, I AM HIGHER ORDER FUNCTION
hi, i am higher order function

In [38]:
#lambda

def incr(x):
  x=x+1
  return x
print(incr(4))
print((lambda x:x+1)(4))
res=lambda x:x+1
print(res(4))

5
5
5

In [39]:
print((lambda x,y:x**y)(2,2))
print((lambda x,y:x+y)(2,3))
res=lambda x,y:x+y
print(res(2,3))

4
5
5

In [45]:
li=[1,2,3,4,5]
#res=lambda x:x+2
#print(res(li))
def inc(num):
  return num+2
res_list=list(map(inc,li))
print(res_list)
res_list1=list(map(lambda x:x+2,li))
print(res_list)
print(list(map(lambda x:x+2,li)))

[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]

In [47]:
def eor(num):
  if num%2==0:
    return "the number {} is even".format(num)
  else:
    return "the number {} is odd".format(num)
eor(23)

'the number 23 is odd'

In [50]:
#map examples

l=[1,2,3,4,5,6,7,8,9,10]
list(map(eor,l))

['the number 1 is odd',
 'the number 2 is even',
 'the number 3 is odd',
 'the number 4 is even',
 'the number 5 is odd',
 'the number 6 is even',
 'the number 7 is odd',
 'the number 8 is even',
 'the number 9 is odd',
 'the number 10 is even']

In [49]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [51]:
#filter

def odd_num(n):
  if n%2!=0:
    return n
my_list=[9,26,35,-2,50]
print(list(filter(odd_num,my_list)))
my_list=[18,94,33,16,99,22,56,107,34]
temp=list(filter(lambda x:x%2==0,my_list))
print(temp)

[9, 35]
[18, 94, 16, 22, 56, 34]

In [52]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(4))
print(m.factorial(5))
print(m.pow(2,2))
print(m.floor(1.4))
print(m.tan(5))
print(m.log(2))

3.141592653589793
2.718281828459045
2.0
120
4.0
1
-3.380515006246586
0.6931471805599453

In [53]:
#sys module

import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [55]:
#statistics module
import statistics as st
print(st.mean([20,21,19]))
print(st.median([1,2,3,4,5]))
print(st.mode([1,2,3,1,1]))

20
3
1

In [56]:
#time module

import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655230860.3112187
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=18, tm_min=21, tm_sec=0, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 18:21:00 2022
Tue Jun 14 18:21:00 2022
None

In [57]:
#random module
import random
print(random.randrange(1,50))
print(random.randint(1,100))
print(random.random())

16
57
0.1317873348723978

In [72]:
import random
g_num=random.randint(0,5)
g2_num=int(input("PREDICT A NUMBER="))
if g2_num==g_num:
  print("you won")
else:
  print(" you lost")

PREDICT A NUMBER=5
you won

Write a python program that remove items that are multiples of 5 from list:

    li=[1,2,5,6,7,10,15,25,65,78,90]

    o/p: [1,2,6,7,78]

In [73]:
li=[1,2,5,6,7,10,15,25,65,78,90]
res=list(filter(lambda x:x%5!=0,li))
print(res)

[1, 2, 6, 7, 78]

removing the multiples of 5 from the given list

In [61]:
li=[1,2,5,6,7,10,15,25,65,78,90]

for i in list (li): 
   print(li,i) 
   if i%5==0: 
     li.remove(i) 
   print(li)

[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90] 1
[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90] 2
[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90] 5
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90] 6
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90] 7
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90] 10
[1, 2, 6, 7, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 15, 25, 65, 78, 90] 15
[1, 2, 6, 7, 25, 65, 78, 90]
[1, 2, 6, 7, 25, 65, 78, 90] 25
[1, 2, 6, 7, 65, 78, 90]
[1, 2, 6, 7, 65, 78, 90] 65
[1, 2, 6, 7, 78, 90]
[1, 2, 6, 7, 78, 90] 78
[1, 2, 6, 7, 78, 90]
[1, 2, 6, 7, 78, 90] 90
[1, 2, 6, 7, 78]

In [64]:
li=[1,2,5,6,7,10,15,25,65,78,90]

for i in list (li): 
  # print(li,i) 
  if i%5==0: 
    li.remove(i) 
  print(li)

[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 5, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 10, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 15, 25, 65, 78, 90]
[1, 2, 6, 7, 25, 65, 78, 90]
[1, 2, 6, 7, 65, 78, 90]
[1, 2, 6, 7, 78, 90]
[1, 2, 6, 7, 78, 90]
[1, 2, 6, 7, 78]

In [66]:
li=[1,2,5,6,7,10,15,25,65,78,90]

for i in list (li): 
  # print(li,i) 
  if i%5==0: 
    li.remove(i) 
print(li)

[1, 2, 6, 7, 78]