<a href="https://colab.research.google.com/github/laxmipunnam/2216132_AIML_BootCamp/blob/main/Assigment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) implement  the methods of string with example

In [ ]:
str="Gradstellar"
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())

GRADSTELLAR
gradstellar
gRADSTELLAR
Gradstellar
Gradstellar

In [ ]:
str1=" my name is laxmi "
print(str1.strip())
print(str1.lstrip())
print(str1.rstrip())

my name is laxmi
my name is laxmi
 my name is laxmi

2) Implement the methods of List with example

In [ ]:
l1=[2,4,6,8,10]
l1.append(12)
print(l1)
l1.insert(3,4.0)
print(l1)
l1.extend([13,14])
print(l1)

[2, 4, 6, 8, 10, 12]
[2, 4, 6, 4.0, 8, 10, 12]
[2, 4, 6, 4.0, 8, 10, 12, 13, 14]

In [ ]:
del l1[3]
print(l1)
del l1[0:2]
print(l1)

[2, 4, 6, 8, 10, 12, 13, 14]
[6, 8, 10, 12, 13, 14]

In [ ]:
l1.remove(12)
print(l1)
l1.pop()
print(l1)
l1.clear()

[6, 8, 10, 13, 14]
[6, 8, 10, 13]

3)Implement the methods of List with example

In [ ]:
tuple=(1,2,3,4,5,6,7,8,9)
print(tuple.count(1))
print(tuple.index(2))
print(max(tuple))
print(min(tuple))
print(len(tuple))

1
1
9
1
9

4)Implement the methods of dictionary with example

In [ ]:
dict={'name': 'sai','add' : 'hnk'}
print(dict['name'])
print(dict.keys())
print(dict.values())
print(dict.get('name'))

sai
dict_keys(['name', 'add'])
dict_values(['sai', 'hnk'])
sai

5)Implement the methods of sets with example

In [ ]:
set={1,3}
set.add(2)
print(set)
set.update([2,3,4])
print(set)
set.remove(3)
print(set)
set.discard(4)
print(set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 4}
{1, 2}

6)Write a python program to convert decimal to binary ,octal and hexadecimal with direct method

In [ ]:
dec=16
print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 16 is:
0b10000 in binary.
0o20 in octal.
0x10 in hexadecimal.

7)Implement arthematic operators with example

In [ ]:
a=5
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)

11
-1
30
0.8333333333333334
0

8)Implement assignment operators with example

In [ ]:
a=9
c=5
c+=a
print(c)

14

In [ ]:
c*=a
print(c)

45

9)Implement comparison operators with example

In [ ]:
a = 10
b = 12
print('a > b is',a>b)
print('a < b is',a<b)
print('a == b is',a==b)
print('a != b is',a!=b)
print('a >= b is',a>=b)
print('a <= b is',a<=b)

a > b is False
a < b is True
a == b is False
a != b is True
a >= b is False
a <= b is True

10)Implement logical operators with example

In [ ]:
x = True
y = False

print('x and y is',x and y)

print('x or y is',x or y)

print('not x is',not x)

x and y is False
x or y is True
not x is False

11)Implement bitwise operators with example

In [ ]:
a=12
b=13
print(a&b)
print(a^b)
print(a|b)
print(~a)
print(a>>2)
print(a<<3)
print(~b)
print(b>>2)
print(b<<3)

12
1
13
-13
3
96
-14
3
104

12)Implement membership operators with example

In [ ]:
x = 'Hi Friends'
y = {1:'p',2:'q'}
print('H' in x)
print('Hi' not in x)
print(1 in y)
print('p' in y)

True
False
True
False

13)Implement identity operators with example

In [ ]:
a = 5
b = 5
a1 = 'Hello'
b1 = 'Hello'
a2 = [1,2,3]
b2 = [1,2,3]
print(a is not b)
print(a1 is b1)
print(a2 is b2)

False
True
False

14)Demonstrate negative indexing for list and apply slicing

In [ ]:
list = [1,7,9,3,5,2,4]
K = 3
res = ~list[::-1].index(K)
print("The required Negative index :" ,res)

The required Negative index : -4

15)Predict the output for the given code snippet and justify the result
        
          print('A series of characters designated as one object knows as a string :'[::-1][4::3])
          print("------------------")
          print('Welcome to Python training program'[3:10][::-1])

In [ ]:
print('A series of characters designated as one object knows as a string :'[::-1][4::3])
print("------------------")
print('Welcome to Python training program'[3:10][::-1])

is  o eonsdaidrca  is
------------------
ot emoc

16)Write a python code to get desired output
  
        input string:           p_phrase="was it a car or a cat I saw"

        output string:          WAS I TAC A RO RAC A IT SAW

In [ ]:
p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1])
print(p_phrase.upper())

was I tac a ro rac a ti saw
WAS IT A CAR OR A CAT I SAW

17)You are requried to generate a word similar to ZOO ,X and Y that  denote the number of Zs and Os respectively.The generated word similar to Zoo where Y=2*X.

        Input X=2     Output=ZZOOOO
        Input X=5     Outout=ZZZZZOOOOOOOOOO